@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #090e16;
  --font-color: #fff;
  --primary: #7b4ae2;
  --secondary: rgba(123, 74, 226, 0.1);
  --tertiary: rgba(255, 255, 255, 0.5);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.transit {
  transition: transform 0.51s;
}

.transit:hover,
.transit:focus {
  transform: translateY(-1px) scale(1.1);
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

a {
  font-weight: 600;
  color: var(--font-color);
}

.nav-bar {
  background-color: var(--secondary);
  width: 90%;
  height: 4rem;
  margin-top: 2.375rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.section-bar {
  background-color: var(--secondary);
  width: 15rem;
  height: 3rem;
  border-radius: 1rem;
  color: var(--primary);
  font-weight: 700;
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.line {
  width: 90%;
  height: 1px;
  background-color: var(--secondary);
  margin: 8rem 0;
}

.navigator {
  display: flex;
}

.navigator a {
  margin-left: 1.5rem;
  color: var(--tertiary);
  font-weight: 400;
  cursor: pointer;
}

.main-info {
  margin-top: 12rem;
  gap: 15%;
}

.my-paint {
  height: 37.5rem;
}

.my-info h1 {
  font-weight: 800;
  font-size: 3.25rem;
  margin-bottom: 1.5rem;
}

.my-info p {
  color: var(--tertiary);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.my-info img {
  height: 2.125rem;
  margin-right: 1rem;
}

.my-cv {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
}

.cvDown {
  width: 5.95rem;
  margin-bottom: 0.5rem;
}

.whatsapp {
  width: 12.25rem;
}

.my-exp {
  flex-direction: column;
}

.exp-span {
  gap: 5rem;
}

.exp-span div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--primary);
  border-radius: 1rem;
  width: 15rem;
  height: 12.5rem;
}

.my-exp p {
  font-size: 1rem;
}

.my-exp h2 {
  font-size: 2rem;
}

.my-job {
  margin-top: 2rem;
  width: 56.25rem;
  height: 5rem;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 1rem;
  flex-direction: column;
}

.my-job h2 {
  letter-spacing: 1rem;
}

.about-me {
  flex-direction: row;
  gap: 10%;
}

.about-me img {
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 20rem;
  border: var(--font-color) solid 0.5rem;
  margin-bottom: 2rem;
}

.about-me h2 {
  font-weight: 800;
  font-size: 3rem;
  margin: 1.5rem 0;
}

.about-me p {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  color: var(--tertiary);
  max-width: 56.25rem;
}

.about-me a {
  color: var(--tertiary);
}

.my-projects {
  margin-top: 6.25rem;
}

.my-projects > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.my-skills {
  flex-direction: column;
}

.my-skills h2 {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 6.25rem;
}

.my-skills p {
  font-size: 1.5rem;
  color: var(--tertiary);
  margin-bottom: 2.5rem;
}

.my-skills img {
  margin-right: 2rem;
  margin-bottom: 2.75rem;
}

.my-contacts {
  flex-direction: column;
}

.my-contacts h2 {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.my-contacts a {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--primary);
  display: flex;
  align-items: center;
  margin-bottom: 12.5rem;
}

.link-contacts {
  flex-direction: row;
  font-size: 1.25rem;
  color: var(--tertiary);
}

.link-contacts > img {
  height: 3.75rem;
  margin-right: 2.5rem;
  cursor: pointer;
}

.link-contacts div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email-image {
  height: 4.5rem;
  margin-bottom: 0.25rem;
}

.copy-image {
  height: 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

footer {
  background-color: var(--secondary);
  height: 5.5rem;
  width: 100%;
  flex-direction: row;
  gap: 5rem;
}

.foot a {
  font-weight: 700;
  color: var(--primary);
}

.social-medias-foot img {
  margin: 0 1.25rem;
  height: 2rem;
}

@media (max-width: 1440px) {
  .main-info {
    margin-top: 6rem;
    gap: 10%;
  }

  .my-paint {
    height: 30rem;
  }

  .about-me img {
    width: 20rem;
    height: 20rem;
  }

  .about-me h2 {
    margin: 1rem 0;
    font-size: 2rem;
  }

  .about-me p {
    max-width: 45rem;
  }

  .my-projects > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .section-bar {
    width: 13rem;
    height: 2.7rem;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .my-skills div {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 2rem;
  }

  .my-skills img {
    margin: 1.2rem 1.5rem;
  }
}

@media (max-width: 1024px) {
  .section-bar {
    width: 12rem;
    height: 2.3rem;
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
  }

  .my-paint {
    height: 25rem;
  }

  .my-info h1 {
    font-size: 3rem;
  }

  .main-info {
    gap: 2%;
  }

  .about-me img {
    width: 15rem;
    height: 15rem;
  }

  .about-me p {
    max-width: 38rem;
  }

  .my-projects > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .my-skills div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2rem;
  }

  .my-skills h2 {
    font-size: 2rem;
  }

  .my-contacts a {
    margin: 4rem 0;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    height: 3.5rem;
    margin-top: 3rem;
  }

  .navigator a {
    margin-left: 1rem;
    font-size: 0.8rem;
  }

  .main-info {
    margin-top: 5rem;
    gap: 5%;
    flex-direction: column;
  }

  .exp-span {
    flex-direction: column;
  }

  .my-job {
    width: 35rem;
  }

  .about-me {
    flex-direction: column;
  }

  .disappearTablet {
    visibility: hidden;
  }

  .about-me img {
    width: 20rem;
    height: 20rem;
    margin-bottom: 0rem;
  }

  .my-projects > div {
    grid-template-columns: repeat(1, 1fr);
  }

  .my-skills div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
  }
}

@media (max-width: 425px) {
  .disappearCellphone {
    visibility: hidden;
  }

  .nav-bar {
    width: 0%;
    height: 0rem;
    margin-top: 0rem;
    padding: 0.5rem 0;
  }

  .navigator a {
    margin-left: 0rem;
    font-size: 0rem;
  }

  .nav-bar img {
    height: 0rem;
  }

  .my-paint {
    height: 20rem;
  }

  .main-info {
    margin-top: 0rem;
  }

  .my-job {
    width: 18rem;
    height: 4rem;
  }

  .my-job p {
    font-size: 1rem;
  }

  .my-job h2 {
    font-size: 1.2rem;
  }

  .about-me img {
    width: 15rem;
    height: 15rem;
  }

  .about-me div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-me h2 {
    font-size: 1.5rem;
  }

  .about-span {
    margin: 0 3rem;
  }

  .my-skills div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
  }

  .my-skills h2 {
    font-size: 1.5rem;
  }

  .my-skills p {
    font-size: 1rem;
  }

  .link-contacts {
    flex-direction: column;
  }

  footer {
    height: 5.5rem;
    width: 100%;
    gap: 1rem;
  }

  .social-medias-foot img {
    margin: 0 0.5rem;
  }

  .my-contacts h2 {
    font-size: 1.5rem;
  }

  .link-contacts > img {
    height: 3rem;
    margin-right: 0rem;
  }
}
