@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #090e16;
  --font-color: #fff;
  --primary: #7b4ae2;
  --secondary: rgba(123, 74, 226, 0.1);
  --tertiary: rgba(255, 255, 255, 0.5);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.transit {
  transition: transform 0.51s;
}

.transit:hover,
.transit:focus {
  transform: translateY(-1px) scale(1.1);
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

a {
  font-weight: 600;
  color: var(--font-color);
}

.section-bar {
  background-color: var(--secondary);
  width: 15rem;
  height: 3rem;
  border-radius: 1rem;
  color: var(--primary);
  font-weight: 700;
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.line {
  width: 90%;
  height: 1px;
  background-color: var(--secondary);
  margin: 8rem 0;
}

.main-info {
  margin-top: 12rem;
  gap: 15%;
}

.my-paint {
  height: 37.5rem;
}

.my-info h1 {
  font-weight: 800;
  font-size: 3.25rem;
  margin-bottom: 1.5rem;
}

.my-info p {
  color: var(--tertiary);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.my-info img {
  height: 2.125rem;
  margin-right: 1rem;
}

.my-cv {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
}

.cvDown {
  width: 5.95rem;
  margin-bottom: 0.5rem;
}

.whatsapp {
  width: 12.25rem;
}



.my-contacts {
  flex-direction: column;
}

.my-contacts h2 {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.my-contacts a {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--primary);
  display: flex;
  align-items: center;
  margin-bottom: 12.5rem;
}

.link-contacts {
  flex-direction: row;
  font-size: 1.25rem;
  color: var(--tertiary);
}

.link-contacts > img {
  height: 3.75rem;
  margin-right: 2.5rem;
  cursor: pointer;
}

.link-contacts div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email-image {
  height: 4.5rem;
  margin-bottom: 0.25rem;
}

.copy-image {
  height: 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

footer {
  background-color: var(--secondary);
  height: 5.5rem;
  width: 100%;
  flex-direction: row;
  gap: 5rem;
}

.foot a {
  font-weight: 700;
  color: var(--primary);
}

.social-medias-foot img {
  margin: 0 1.25rem;
  height: 2rem;
}
