.container {
  width: 22.5rem;
  height: 28.75rem;
  border: 1px solid var(--purple);
  border-radius: 1rem;
  padding: 1.6rem 1.6rem;
	display: flex;
  flex-direction: column;
	justify-content: space-between;
}

.container h3 {
  font-weight: 700;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.cont-skills {
  display: flex;
  flex-direction: row;
	justify-content: space-between;
  padding-bottom: 1.5rem;
}

.cont-skills h4 {
  background-color: var(--dark-purple);
  width: 6.625rem;
  height: 1.875rem;
  border-radius: 0.5rem;
  color: var(--purple);
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.container p {
  font-size: 0.875rem;
  color: var(--gray);
}

.container img {
  width: 22rem;
  height: 14rem;
  border-radius: 0.5rem;

}
